#Configuracion del la Red Neuronal
# Todas las lineas que empiecen con '#' seran consideradas comentarios y se ignoraran
# Poner los comentarios siempre en una nueva linea. 
# Por las dudas, nunca dejar espacios en blanco
#
#Fichero fuente 
archivo_problema=iris.csv
# Tasa de aprendizaje por defecto para las neuronas
tasa_aprendizaje=0.75
# Sigma para las RBF
sigma=0.5
# Desvio de los casos de prueba a generar
desvio=0.2
# Cantidad de casos de prueba a generar
cantidad_casos=1000
# Cantidad de bits en la salida
cantidad_salidas=1
# Cantidad de conjuntos diferentes de: entrenamiento prueba y validación
cantidad_conjuntos=1
# Porcentaje de patrones para Entrenamiento
porcentaje_entrenamiento=80
# Porcentaje de patrones para Prueba
porcentaje_prueba=20
# Cantidad de puntos que van a estar invadiendo la region "enemiga"
invasores=0
# Criterio de finalizacion del entrenamiento
#  maxit: terminara por cantidad de iteraciones maximas especificadas en criterio_maxit
#  consecutivo: terminara si el parecido entre 'minima_cantidad_consecutivos' iteraciones consecutivas es mayor a 'criterio_error_consecutivo'
#  error: terminara si el error en una epoca cualquiera es menor a criterio_error
#  todos: usa todos los anteriores y sale por el que se cumpla primero
criterio_finalizacion=maxit
criterio_max_epocas=40
criterio_error=0.01
minima_cantidad_consecutivos=100
criterio_error_consecutivo=0.9999
parametro_sigmoidea=5
parametro_momento=0.2
#especifica cada cuantas interaciones va a dibujar
intervalo_dibujo=10
#parametro para el metodo de leave-k-out
leave_k_out=10
