#Cantidad de partículas
cantidad_de_particulas=30
#Constante 1
c1=5.0
#Constante 2
c2=1.0
#Cantidad de Iteraciones máxima
maxit=2000
#ID funcion fitness
id_funcion_fitness=3
#Tamaño del entorno
entorno_size=4
